h1{
  text-align:center;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:12px;
}

button{
  font-size: 20px;
  padding: 5px 10px;
  font-weight: 600;
  background: #86d7cd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}